* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
body {
	font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
	color: rgb(29, 29, 29)
}
footer {
	display: flex;
	justify-content: center;
	background-color: rgb(45, 74, 97);
	line-height: 2.5rem;
	padding: 15px;
}
.footer_p {
	color: #c4c4c4;
	font-size: 14px;
	font-weight: 900;
	margin: 0 35px;
}
.footer_des {
	font-weight: 300;
	color: #ffffff;
	padding-left: 2px;
	letter-spacing: 0.1rem;

}
.footer_sep {
	font-weight: 300;
	color: #dfdfdf;
	margin: 0 5;
}
.footer_sep--large {
	color: rgb(48, 70, 88);
	font-size: 38px;
}
.temp_bar {
	height: 52px;
	background: rgb(46, 64, 97);
}

/* FONT STYLES*/
/* <h1> - <h6> */
h1 {
    font-size: 5rem;
    font-weight: 900;
    color: rgb(15, 106, 167);
    /* background:rgb(255, 169, 169); */
    margin-bottom: 1.5rem;
}
h1.dramatic_h {
	font-size: 6.1rem;
}
/* <p> */
.dramatic_p {
    font-weight:300;
    font-size: 3rem;
    /* background:rgb(255, 56, 56); */
        
}

/* LINKS */

/* BUTTONS <a>*/
a{
	transition: 0.3s;
}
.dramatic_a {	
    display: table;		
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #FF3E55;
    border: 4px #FF3E55 solid;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    margin-top: 50px;
}
.dramatic_a:hover {
    background: #FF3E55;
    color: #FFFFFF;
}
