.container {
    display: flex;
}
.col1 {
    padding-left: 30px;
    padding-right: 80px;
    padding-top: 100px;
    background: rgba(216, 225, 233, 0.1);
    border-right: 1px solid rgba(192, 192, 192, 0.534);
    display: flex;
    padding-bottom: 100px;
    /* align-items: center; */
}

.col2 {
    flex-grow: 1;
}
.shop_container {
    padding: 0 70px;
}
.showcase {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    min-width: 18px;
    /* width: 25%; */
    width: 22rem;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    padding: 10px 0;
    text-align: center;
    border: 1px solid #cecece;
    margin-right: 5rem;
    margin-bottom: 35px;
}
.item_des {
    padding: 0 5px;
   

}
.itm_img {
    /* width: 18rem; */
    /* width: 100%; */
    height: 14rem;
    object-fit:contain;
    align-self: center;
}
.quantity {
    box-sizing: border-box;
    display: flex;
    background: #c3e1e280;
    padding: 5px 8%;
    margin-top: 12px;
    justify-content: space-between;
    /* align-items: center; */
}

.counter, .cart_counter {
    float: left;
    /* Firefox alignment fix */
    display: flex; 
    align-items: center;
    justify-content: center;
    /* Fix End */
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    border: 0.1px solid #6e6e6e;
    background: #e3e3e3;
    color: #000000;
    font-size: 16px;
    margin: 0;
}
.counter:hover, .cart_counter:hover {
    background: #c9c9c9;
}
.counter:active, .cart_counter:active {
    background: #b0b0b0;
}
.cart_counter {
    height: 22px;
    width: 22px;
    font-size: 1.8rem;
}
.qnt_input, .cart_qnt_input {
    font-size: 12px; 
    float: left;
    border: 0.1px solid #333;
    border-left: 0px; 
    border-right: 0px; 
    padding: 0; 
    margin: 0; 
    text-align: center; 
    width: 18px !important; 
    height: 18px !important; 
    box-sizing: border-box;
}
.cart_qnt_input {
    font-size: 1.4rem;
    height: 22px !important;
    width: 22px !important;
}
.add {
    box-sizing: border-box;
    padding: 6px 35px;
    border: 0px solid #c7c7c7;
    background: #ff4646;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.2s;
}
.add:hover {
    background: #e03232;
}
.add:active {
    background: #a31b1b;
}
.shop_heading {
    margin: 60px 0;
    
}
#category {
    font-size: 1.3rem;
}
.shop_form_txt {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid silver;
    padding: 5px;
}
textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    /* min-width: 130px; */
}
form {
    width: 23rem;
    margin: 30px 0;
}
.form_btn {
    background: #007AD3;
    margin-right: 2px;
    margin-top: 30px;
    border: 2px solid #007AD3;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1.4rem;
    transition: 0.2s;
}
.rest {
    color: #007AD3;
    background: transparent;
}
.form_btn:hover {
    background: rgb(8, 98, 163);
    border-color: rgb(5, 98, 163);
    color: white;
}
.form_btn:active {
    background:rgb(11, 57, 90);
    color: rgb(255, 255, 255);
}
.validation {
    display: none;
    color: red;
    font-size: 12px;
    font-weight: 600;
    /* display: block; */
    margin-top: 5px;
}
/* .cart_title {
    margin-top: 20px;
} */
.cart_title::after {
    background-image: url('/img/icon/cart.png');
    background-size: contain;
    display: inline-block; 
    height: 26px;
    width: 26px;
    margin-left: 10px;
    vertical-align:-30%;
    content:"";
}
.cart_btn {
    /* border-radius: 50%; */
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.507);
    border: 1px solid rgb(174, 198, 235);
    border-right: 0;
    position: fixed;
    top: 75%;
    right: 0;
}
.cart_link, .cart_btn {
    cursor: pointer;
}
.cart_btn:hover {
    background: rgb(174, 235, 192);
}
.cart_btn:active {
    background: rgba(117, 224, 149, 0.808);
}
.cart_icon {
    height: 28px;
    width: 28px;
}
/* MODAL BOXES */
.cart_modal, .bill_modal, .empty_cart_modal, .form_invalid_modal {
    visibility: hidden ;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    display: none;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background: rgba(94, 94, 94, 0.582);
    
}
/* CART */
.cart_container {
    background: #fff;
    padding: 35px 40PX;
    /* padding-bottom: 0; */
    width: 55%;
    margin:auto;
    overflow: auto;
}
.close_cart {
     float: right;
     margin-right: -30px;
     margin-top: -26px;
     background: #fff;
     border: 0;
     box-shadow: 0;
     /* font-family: "clear sans"; */
     font-size: 2.2rem;
     color: rgba(20, 65, 163, 0.664);
     /* font-weight: 700; */
    /* margin:auto; */
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 30px;
    height: 30px;
    /* position: absolute; */
    /* top: 25%; */
    /* right: 20.5%; */
}
#cart {
    display: flex;
}
.cart_table_col{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: #0E4E7B;
    font-weight: 600;
    /* max-width: 180px; */
    min-width: 50px;
    flex-grow: 1;
    /* justify-content: center; */
    /* border-right:1px solid#007AD3; */
    /* align-items: center; */
    /* background:rgba(192, 192, 192, 0.534); */
}
/* .cart_id_col {
    /* min-width: 30px; */
    /* max-width: 40px;
}    */
/* .currency_col {
    min-width: 30px;
    max-width: 50px;
} */
.last_col {
    /* max-width: 100%; */
    flex-grow: 1;
}
.th, .td {
    border-bottom: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: lightblue; */
    /* border-right: 2px solid red; */
    /* width: 100%; */
    /* padding-right: 80px; */
    /* text-align: center; */
    /* vertical-align: middle; */
}
.th,.td, .cart_total {
    padding: 0 5px;
}
.td {
    color: black;
    font-size: 1.6rem;
    font-weight: 500;
}
.itm_des_col {
    max-width: 18rem;
}
/* .cart_qnt_col {
    max-width: 18rem;
} */
.store_row_no {
    display: none;
}
.align_right, .cart_price, .cart_price_total {
    width: 100%;
    text-align: right;
    margin-right: 20px;
    /* margin-left: auto;
    /* background: #222; */
}
.start {
    width: 100%;
    text-align: left;
}
.cart_qnt {
    margin-right: auto;
    margin-left: 5px;
}

.cart_total {
    /* border-bottom: 1px solid black; */
    color: black;
    font-size: 1.8rem;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}
.cart_remove {
    font-size: 25px;
    /* padding: 10px; */
    /* margin-left: auto;
    margin-right: 25px; */
    cursor: default;
}
.cart_img {
    height: 30px;
    /* justify-content: center; */
    object-fit: contain;
    /* background: rgb(60, 121, 0); */
}
.clear_cart {
    box-sizing: border-box;
    padding: 8px 15px;
    border: 0px solid #c7c7c7;
    background: #ff4646;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    /* margin-bottom: 80px; */
    transition: 0.2s;
}
.clear_cart:hover {
    background: #e03232;
}
.clear_cart:active {
    background: #a31b1b;
}
/* Bill Container */
.bill_container {
    background:rgb(245, 245, 245);
    border-top: 5px solid salmon;
    padding: 35px 40PX;
    /* padding-bottom: 0; */
    width: 40%;
    margin:auto;
    overflow: auto;
}
.close_cart {
    float: right;
    margin-right: -30px;
    margin-top: -26px;
    background: transparent;
    border: 0;
    box-shadow: 0;
    /* font-family: "clear sans"; */
    font-size: 2.2rem;
    color: rgba(20, 65, 163, 0.664);
    /* font-weight: 700; */
    /* margin:auto; */
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 30px;
    height: 30px;
    /* position: absolute; */
    /* top: 25%; */
    /* right: 20.5%; */
}
.bill_title {
    color: #2992de;
}
.bill_title_sep {
	margin-top: 8px;
	margin-bottom: 20px;
}
table {
    font-size: 1.6rem;
    margin-bottom: 20px;
}
th {
    font-size: 1.8rem;
}
td {
    text-align: center;
}
.bill_item_des {
    max-width: 100px;
}
th:first-child, td:first-child {
    text-align: left;
}
.numbers {
    text-align: right;
}
th, td {
    border-bottom: 1px dashed #333;
}
.total th {
    border-bottom: 0;
}
th, td {
    padding: 5px;
}
.ok_btn{
    float: right;
    box-sizing: border-box;
    padding: 8px 50px;
    border: 0px solid #c7c7c7;
    background: #ff4646;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    /* margin-bottom: 80px; */
    transition: 0.2s;
}
.ok_btn:hover {
    background: #e03232;
}
.ok_btn:active {
    background: #a31b1b;
}
/* Item Added Notification */
.added_notify {
    display: flex;
    visibility: hidden;
    position: sticky;
    bottom: 0;
    z-index: 999;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(8, 145, 65, 0.767);
    height: 2.8rem;
    /* background: rgba(219, 29, 29, 0.877); */
    /* background: rgba(51, 51, 51, 0.185); */
    /* box-shadow: rgba(182, 182, 182, 0.356) 2px 2px 3px; */
    /* padding: 3px 0px; */
    /* padding: 0;  */
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */

}
.added_notify span {
    /* margin: auto; */
    /* margin-right: 65%; */
    /* width: 100%; */
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}
.added_notify .undo {
    color: rgb(111, 241, 255);
    cursor: pointer;
    font-weight: 300;
    font-size: 1.4rem;
    margin-left: 5rem;
    margin-bottom: 0.4rem;
    text-decoration: underline;
}
/* Empty Cart Container */
.empty_cart_container {
    background: rgb(244, 244, 244);
    /* background:rgb(235, 235, 235); */
    border-top: 5px solid rgb(41, 143, 202);
    padding: 35px 60PX;
    padding-top: 40px;
    /* padding-bottom: 0; */
    width: 28%;
    margin:auto;
    overflow: auto;
}
.empty_cart_title {
    color: #464646;
}
.empty_title_sep {
	margin-top: 20px;
	margin-bottom: 50px;
	border-color: rgb(216, 216, 216);
}
.empty_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.empty_cart_img {
    width: 20rem;
    height: 18rem;
    padding-right: 3rem;
}
/* Form Invalid Container */
.form_invalid_container {
    background: rgb(226, 223, 223);
    /* background:rgb(235, 235, 235); */
    border-top: 5px solid rgb(41, 143, 202);
    padding: 35px 60PX;
    padding-top: 40px;
    /* padding-bottom: 0; */
    width: 28%;
    margin:auto;
    overflow: auto;
}
.form_invaild_title {
    color: rgb(165, 138, 138)
}
.form_invalid_sep {
	margin-top: 15px;
	margin-bottom: 20px;
}
.form_invalid_message {
    font-size: 1.6rem;
    margin-bottom: 20px;
}
/* Experimenting */
