* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
}
body {
	font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
	color: rgb(29, 29, 29)
}
footer {
	display: flex;
	justify-content: center;
	background-color: rgb(45, 74, 97);
	line-height: 2.5rem;
	padding: 15px;
}
.footer_p {
	color: #c4c4c4;
	font-size: 14px;
	font-weight: 900;
	margin: 0 35px;
}
.footer_des {
	font-weight: 300;
	color: #ffffff;
	padding-left: 2px;
	letter-spacing: 0.1rem;

}
.footer_sep {
	font-weight: 300;
	color: #dfdfdf;
	margin: 0 5;
}
.footer_sep--large {
	color: rgb(48, 70, 88);
	font-size: 38px;
}
.temp_bar {
	height: 52px;
	background: rgb(46, 64, 97);
}
a{
	transition: 0.3s;
}