.banner_container {
    display: flex;
    height: calc(100vh - 52px);
}	
/*remember to give @support for opera mini height 100%*/
.banner_img_cover {
    background: linear-gradient(90deg, #FFFFFF 0%, #F0F1F5 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.banner_img {
    height: 100%;
}
.banner_content {
    /* background: rgb(255, 187, 0); */
    position: relative;
    left: 18%;
    bottom: 2%;
    /* padding-left: 200px;
    padding-bottom: 20px; */
}
