* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
	color: rgb(29, 29, 29);
	min-height: 100%;
}
footer {
	display: flex;
	justify-content: center;
	background-color: rgb(45, 74, 97);
	line-height: 2.5rem;
	padding: 15px;
}
.footer_p {
	color: #c4c4c4;
	font-size: 14px;
	font-weight: 700;
	margin: 0 35px;
}
.footer_des {
	font-weight: 300;
	color: #ffffff;
	padding-left: 2px;
	letter-spacing: 0.1rem;

}
.footer_sep {
	font-weight: 300;
	color: #dfdfdf;
	margin: 0 5;
}
.footer_sep--large {
	color: rgb(48, 70, 88);
	font-size: 38px;
}
.temp_bar {
	height: 52px;
	background: rgb(46, 64, 97);
}

/* FONT STYLES*/
/* <h1> - <h6> */
h1 {
    font-size: 5rem;
    font-weight: 600;
    color: rgb(15, 106, 167);
    /* background:rgb(255, 169, 169); */
    margin-bottom: 1.5rem;
}
h1.dramatic_h {
	font-size: 6.1rem;
}
h2 {
	font-size: 4.4rem;
	color: rgb(15, 106, 167);
	font-weight: 600;
}
h3 {
	font-size: 2.8rem;
	color: rgb(39, 39, 39);
	margin-bottom: 1rem;
}
.blue {
	color: rgb(15, 106, 167);
	font-weight: 600;
}
h4 {
	font-size: 2.4rem;
	color: #FF3E55;
	font-weight: 600;
}
h5 {
	font-size: 2.6rem;
	color: #000;
	font-weight: 700;
	margin-bottom: 25px;
}
/* <p> */
.dramatic_p {
    font-weight:300;
    font-size: 3rem;
    /* background:rgb(255, 56, 56); */
        
}
.item_title_p {
	font-size: 1.8rem;
	font-weight: 600;
	color: rgb(54, 54, 54);
}
.item_price_p {
	font-size: 1.5rem;
	font-weight: 700;
	color: #bbbbbb;
}
/* span */
.currency {
	font-family: 'IBM Plex Mono';
	color: rgb(0, 118, 197);
	margin-left: 10px;	 
}

/* END span */
.p1 {
	font-size: 2rem;
	font-weight: 700;
	color: #ffffff;
}
.p1_black {
	font-weight: 300;
	color: #222;
}
.regular {
	font-weight: 400;
}
.medium {
	font-size: 1.8rem;
	font-weight: 600;
}
.light {
	font-weight: 300;	
}
.authour {
	font-size: 1.4rem;
}
.reading {
	font-size: 1.8rem;
	margin: 20px 0;
	text-align: justify;
}
.item_price_p {
	margin-top: 5px;
}
/* LINKS */

/* BUTTONS <a>*/
a{
	transition: 0.3s;
}
.dramatic_a {	
    display: table;		
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #FF3E55;
    border: 4px #FF3E55 solid;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    margin-top: 50px;
}
.dramatic_a:hover {
    background: #FF3E55;
    color: #FFFFFF;
}
/* LINKS */
a {
	text-decoration: none;
	color: #FF3E55;
}
a:hover {
	color: rgb(28, 139, 212);
}
/* Margins */
.m {
	margin-top: 70px;
	margin-left: 130px;
	margin-right: 130px;
}
.mL {
	margin: 70px 250px;
}
hr {
	border: 0.5px solid silver;
	margin-top: 40px;
	margin-bottom: 20px;
}
.item_title_sep {
	border-color: #cecece;
	margin: 6px 0;
}
.title_sep {
	margin: 10px 0 13px 0;
	width: 100%;
}
/* FORUM label */
.category {
	font-weight: 600;
	color: rgb(59, 59, 59);
	font-size: 1.4rem;
}
.order_lbl {
	font-size: 1.4rem;
	color: #222;
	font-weight: 600;
	display: block;
	padding-bottom: 8px;
	padding-top: 15px;
}